project/flows.json
[{"id":"439b2003.a458b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"76d10e7e.807768","type":"streamdeck-in","z":"439b2003.a458b8","name":"","x":280,"y":120,"wires":[["563716af.4e39d","8c50df4c.4852b"]]},{"id":"563716af.4e39d","type":"debug","z":"439b2003.a458b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"62f51b11.c2584c","type":"streamdeck-out","z":"439b2003.a458b8","name":"","x":740,"y":180,"wires":[]},{"id":"8c50df4c.4852b","type":"change","z":"439b2003.a458b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   'command': 'fillColor',\t   'data': [\t       $random() * 255 ~> $floor(),\t       $random() * 255 ~> $floor(),\t       $random() * 255 ~> $floor()\t   ]\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["62f51b11.c2584c","610d1ae3.02344c"]]},{"id":"a86f60d6.c2d87","type":"inject","z":"439b2003.a458b8","name":"","topic":"1","payload":"/Users/Nat/Desktop/pics/Unknown.png","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":300,"wires":[["346e0646.751ae2"]]},{"id":"346e0646.751ae2","type":"change","z":"439b2003.a458b8","name":"fillImage","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   'command': 'fillImage',\t   'path': payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["62f51b11.c2584c"]]},{"id":"d5ee5026.555898","type":"inject","z":"439b2003.a458b8","name":"","topic":"","payload":"clearAllKeys","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":480,"wires":[["ecb265fd.0a6e8"]]},{"id":"ecb265fd.0a6e8","type":"change","z":"439b2003.a458b8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{'command': payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["62f51b11.c2584c"]]},{"id":"610d1ae3.02344c","type":"debug","z":"439b2003.a458b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":260,"wires":[]},{"id":"5f7f4b7e.2fa3d4","type":"inject","z":"439b2003.a458b8","name":"","topic":"1","payload":"/Users/Nat/Desktop/pics/Unknown.png","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":360,"wires":[["b2dcf788.3e2a38"]]},{"id":"b2dcf788.3e2a38","type":"change","z":"439b2003.a458b8","name":"fillPanel","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   'command': 'fillPanel',\t   'path': payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["62f51b11.c2584c"]]},{"id":"34b16569.88571a","type":"inject","z":"439b2003.a458b8","name":"","topic":"0","payload":"clearKey","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":520,"wires":[["ecb265fd.0a6e8"]]},{"id":"3329591e.98cfde","type":"inject","z":"439b2003.a458b8","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["99ac5235.b4672"]]},{"id":"99ac5235.b4672","type":"change","z":"439b2003.a458b8","name":"setBrightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{'command': 'setBrightness', 'value': payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":660,"wires":[["62f51b11.c2584c"]]},{"id":"bab2e4d1.0d862","type":"inject","z":"439b2003.a458b8","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":700,"wires":[["99ac5235.b4672"]]},{"id":"1317c94d.c7b467","type":"inject","z":"439b2003.a458b8","name":"","topic":"","payload":"resetToLogo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["ecb265fd.0a6e8"]]},{"id":"1ebe8afe.3f8695","type":"inject","z":"439b2003.a458b8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["99ac5235.b4672"]]}]