examples/streamdeck.json
[{"id":"439b2003.a458b8","type":"tab","label":"Stream Deck","disabled":false,"info":""},{"id":"563716af.4e39d","type":"debug","z":"439b2003.a458b8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"'key ' & topic & ' state ' & payload","targetType":"jsonata","x":520,"y":80,"wires":[]},{"id":"8c50df4c.4852b","type":"change","z":"439b2003.a458b8","name":"randomColor","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   'command': 'fillColor',\t   'value': [\t       $random() * 255 ~> $floor(),\t       $random() * 255 ~> $floor(),\t       $random() * 255 ~> $floor()\t   ]\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["8ac12911.4bd6f"]]},{"id":"a86f60d6.c2d87","type":"inject","z":"439b2003.a458b8","name":"Local file","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"./node_modules/node-red-contrib-streamdeck/icons/node-red.png","payloadType":"str","x":160,"y":280,"wires":[["346e0646.751ae2"]]},{"id":"346e0646.751ae2","type":"change","z":"439b2003.a458b8","name":"fillImage","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   'command': 'fillImage',\t   'image': payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["8ac12911.4bd6f"]]},{"id":"d5ee5026.555898","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"clearAllKeys","payloadType":"str","x":170,"y":540,"wires":[["ecb265fd.0a6e8"]]},{"id":"ecb265fd.0a6e8","type":"change","z":"439b2003.a458b8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{'command': payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["8ac12911.4bd6f"]]},{"id":"5f7f4b7e.2fa3d4","type":"inject","z":"439b2003.a458b8","name":"Local file","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"./node_modules/node-red-contrib-streamdeck/icons/node-red.png","payloadType":"str","x":160,"y":320,"wires":[["b2dcf788.3e2a38"]]},{"id":"b2dcf788.3e2a38","type":"change","z":"439b2003.a458b8","name":"fillPanel","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   'command': 'fillPanel',\t   'image': payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["8ac12911.4bd6f"]]},{"id":"34b16569.88571a","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"0","payload":"clearKey","payloadType":"str","x":160,"y":580,"wires":[["ecb265fd.0a6e8"]]},{"id":"3329591e.98cfde","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":150,"y":820,"wires":[["99ac5235.b4672"]]},{"id":"99ac5235.b4672","type":"change","z":"439b2003.a458b8","name":"setBrightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{'command': 'setBrightness', 'value': payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":820,"wires":[["8ac12911.4bd6f"]]},{"id":"bab2e4d1.0d862","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":150,"y":860,"wires":[["99ac5235.b4672"]]},{"id":"1317c94d.c7b467","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"resetToLogo","payloadType":"str","x":170,"y":620,"wires":[["ecb265fd.0a6e8"]]},{"id":"1ebe8afe.3f8695","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":780,"wires":[["99ac5235.b4672"]]},{"id":"5ca8e5f7.3045a4","type":"comment","z":"439b2003.a458b8","name":"Input: keyIndex is stored in msg.topic, keyState (1/0) is stored in msg.payload","info":"","x":330,"y":40,"wires":[]},{"id":"407dc621.3e7b","type":"comment","z":"439b2003.a458b8","name":"Send images a key or whole panel, msg.payload.image can be either filePath, URL or Buffer","info":"","x":400,"y":240,"wires":[]},{"id":"e3cbe139.aa8fd","type":"comment","z":"439b2003.a458b8","name":"Misc","info":"","x":130,"y":500,"wires":[]},{"id":"fa85e8bf.b530e","type":"comment","z":"439b2003.a458b8","name":"Brightness","info":"","x":140,"y":740,"wires":[]},{"id":"30d312ce.4ecc7e","type":"inject","z":"439b2003.a458b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"listStreamDecks","payloadType":"str","x":180,"y":660,"wires":[["ecb265fd.0a6e8"]]},{"id":"d7f8f3a5.57e7","type":"http request","z":"439b2003.a458b8","name":"randomImage","method":"GET","ret":"bin","paytoqs":false,"url":"https://picsum.photos/72/72","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":420,"wires":[["d0f714ff.456708"]]},{"id":"ddee7ba.77d1d08","type":"inject","z":"439b2003.a458b8","name":"Buffer","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["d7f8f3a5.57e7"]]},{"id":"d0f714ff.456708","type":"change","z":"439b2003.a458b8","name":"randomKey","rules":[{"t":"set","p":"topic","pt":"msg","to":"$random() * 15 ~> $floor()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[["346e0646.751ae2"]]},{"id":"575ef576.94541c","type":"inject","z":"439b2003.a458b8","name":"URL","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"2","payload":"https://cosmiquecarrousel.com/cosmiquecarrousel.jpg","payloadType":"str","x":150,"y":360,"wires":[["346e0646.751ae2"]]},{"id":"1a4f8113.443cff","type":"debug","z":"439b2003.a458b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":60,"wires":[]},{"id":"8ac12911.4bd6f","type":"streamdeck-out","z":"439b2003.a458b8","name":"","x":990,"y":220,"wires":[]},{"id":"74ae9482.ddb23c","type":"streamdeck-in","z":"439b2003.a458b8","name":"","x":170,"y":80,"wires":[["563716af.4e39d"]]}]